# datasets
*.csv
*.tsv
*.gz
*.zip
# mais garder le fichier utilisateurs
!app/users.csv

# data brute
data/raw/

# caches python
__pycache__/
.ipynb_checkpoints/

# streamlit cache
.streamlit/

# fichiers système
desktop.ini
.DS_Store